%h1 #{current_user.email}'s Lists

- @lists.each do |list|
    =link_to "Show #{list.title}", list_tasks_path(list)
    =link_to 'Edit', edit_list_path(list)
    =link_to 'Destroy', list, :method => :delete, :data => { :confirm => 'Are you sure?' }
    %br
    %br

= link_to "Create New List", new_list_path